openapi: 3.0.1
info:
  title: Action API
  description: |
    The Action API facilitates the management of Action and Paraphrase entities within a script management system. This API enables the creation, retrieval, updating, and deletion of actions, as well as their paraphrased versions, thus serving as the backbone for organizing scripts by allowing users to manipulate action entities and their various expressive forms.
  version: "1.0"
servers:
  - url: https://action.fountain.coach
    description: Production server for the Action API.

paths:
  /actions:
    get:
      summary: Retrieve All Actions
      operationId: listActions
      tags:
        - Actions
      description: |
        Lists all actions currently stored within the system. This endpoint is useful for getting an overview of all actions or for initializing user interfaces with data.
      responses:
        '200':
          description: A JSON array of action entities.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Action'
    post:
      summary: Create a New Action
      operationId: createAction
      tags:
        - Actions
      description: |
        Allows for the creation of a new action entity. Clients must provide an action description and its sequence within a script. This endpoint is key for adding new steps to existing scripts or creating the initial action in a new script.
      requestBody:
        required: true
        description: A JSON object containing the new action's details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Action'
      responses:
        '201':
          description: The action has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'

  /actions/{actionId}/paraphrases:
    get:
      summary: Retrieve All Paraphrases for an Action
      operationId: listActionParaphrases
      tags:
        - Actions
        - Paraphrases
      description: |
        Retrieves all paraphrases linked to a specific action. This includes a commentary on why each paraphrase is connected to the original action.
      parameters:
        - name: actionId
          in: path
          required: true
          description: The unique identifier of the action whose paraphrases are to be retrieved.
          schema:
            type: integer
      responses:
        '200':
          description: A JSON array of paraphrases for the specified action.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Paraphrase'
    post:
      summary: Create a New Paraphrase for an Action
      operationId: createActionParaphrase
      tags:
        - Actions
        - Paraphrases
      description: |
        Allows for the creation of a new paraphrase linked to an action. Clients must provide the paraphrased text and a commentary explaining the link to the original action.
      parameters:
        - name: actionId
          in: path
          required: true
          description: The unique identifier of the action to which the paraphrase will be linked.
          schema:
            type: integer
      requestBody:
        required: true
        description: A JSON object containing the new paraphrase's details and its link commentary.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Paraphrase'
      responses:
        '201':
          description: The paraphrase has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paraphrase'

components:
  schemas:
    Action:
      type: object
      description: |
        Represents a single action within a script, detailing what happens at this step and its order relative to other actions.
      required:
        - description
        - sequence
      properties:
        actionId:
          type: integer
          format: int64
          description: The unique identifier for the Action, automatically generated upon creation.
        description:
          type: string
          description: A textual description outlining what happens in this action.
        sequence:
          type: integer
          format: int32
          description: The numerical order of the action within its script, used to organize actions sequentially.
        paraphrases:
          type: array
          items:
            $ref: '#/components/schemas/Paraphrase'

    Paraphrase:
      type: object
      description: |
        Represents a paraphrased version of a script element (e.g., action), including textual paraphrase and commentary on the connection to the original.
      required:
        - originalId
        - text
        - commentary
      properties:
        paraphraseId:
          type: integer
          format: int64
          description: The unique identifier for the Paraphrase, automatically generated upon creation.
        originalId:
          type: integer
          description: The ID of the original action to which this paraphrase is linked.
        text:
          type: string
          description: The paraphrased text of the original action.
        commentary:
          type: string
          description: An explanatory note on why the paraphrase is linked to the original action.
