openapi: 3.0.1
info:
  title: FountainAI Secrets Manager API
  description: API for managing GitHub secrets and generating CI/CD workflows.
  version: "1.0.0"
servers:
  - url: 'https://secrets.fountain.coach'
    description: Main server for Secrets Manager API services
  - url: 'http://localhost:8080'
    description: Development server for Secrets Manager API services
paths:
  /secrets:
    post:
      summary: Create or Update GitHub Secret
      operationId: createOrUpdateSecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreateRequest'
      responses:
        '200':
          description: Secret successfully created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
  /secrets/{repoOwner}/{repoName}/{secretName}:
    get:
      summary: Retrieve a GitHub Secret
      operationId: getSecret
      parameters:
        - name: repoOwner
          in: path
          required: true
          schema:
            type: string
        - name: repoName
          in: path
          required: true
          schema:
            type: string
        - name: secretName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Secret details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
    delete:
      summary: Delete a GitHub Secret
      operationId: deleteSecret
      parameters:
        - name: repoOwner
          in: path
          required: true
          schema:
            type: string
        - name: repoName
          in: path
          required: true
          schema:
            type: string
        - name: secretName
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Secret successfully deleted
  /secrets/generate-cicd-workflow:
    post:
      summary: Generate CI/CD Workflow
      operationId: generateCICDWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CICDWorkflowRequest'
      responses:
        '200':
          description: CI/CD workflow configuration generated
          content:
            application/json:
              schema:
                type: string
                example: |
                  name: CI/CD Pipeline for FountainAI
                  on:
                    push:
                      branches:
                        - main
                  jobs:
                    ...
  /secrets/verify-setup:
    post:
      summary: Verify Initial Setup
      operationId: verifySetup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationRequest'
      responses:
        '200':
          description: Setup verification results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
  /secrets/update:
    put:
      summary: Update GitHub Secret
      operationId: updateSecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreateRequest'
      responses:
        '200':
          description: Secret successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
  /secrets/regenerate-workflow:
    post:
      summary: Regenerate CI/CD Workflow
      operationId: regenerateWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CICDWorkflowRequest'
      responses:
        '200':
          description: CI/CD workflow configuration regenerated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowResponse'
components:
  schemas:
    SecretCreateRequest:
      type: object
      properties:
        repoOwner:
          type: string
        repoName:
          type: string
        secretName:
          type: string
        secretValue:
          type: string
      required:
        - repoOwner
        - repoName
        - secretName
        - secretValue
    SecretResponse:
      type: object
      properties:
        message:
          type: string
    Secret:
      type: object
      properties:
        repoOwner:
          type: string
        repoName:
          type: string
        secretName:
          type: string
        secretValue:
          type: string
    CICDWorkflowRequest:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/AppConfig'
        githubRepositoryOwner:
          type: string
        githubRepositoryName:
          type: string
      required:
        - apps
        - githubRepositoryOwner
        - githubRepositoryName
    AppConfig:
      type: object
      properties:
        name:
          type: string
        secrets:
          type: object
          additionalProperties:
            type: string
      required:
        - name
        - secrets
    VerificationRequest:
      type: object
      properties:
        repoOwner:
          type: string
        repoName:
          type: string
        apps:
          type: array
          items:
            type: string
      required:
        - repoOwner
        - repoName
        - apps
    VerificationResponse:
      type: object
      properties:
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/SecretVerificationResult'
        workflows:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowVerificationResult'
        vps:
          type: array
          items:
            $ref: '#/components/schemas/VPSVerificationResult'
    SecretVerificationResult:
      type: object
      properties:
        secretName:
          type: string
        status:
          type: string
    WorkflowVerificationResult:
      type: object
      properties:
        workflowName:
          type: string
        status:
          type: string
    VPSVerificationResult:
      type: object
      properties:
        requirement:
          type: string
        status:
          type: string
    WorkflowResponse:
      type: object
      properties:
        message:
          type: string
