openapi: 3.0.1
info:
  title: Script Management API
  description: |
    An API designed to manage scripts and their integral components, including Section Headings. This system facilitates the management of complex scripts, enhancing scriptwriting and editing workflows.

    **Dockerized Environment**:
    - **Nginx**: An Nginx proxy container handles SSL termination with Let's Encrypt certificates via Certbot.
    - **Vapor Application**: A Swift-based Vapor app runs in a separate Docker container.
    - **Postgres Database**: The main persistence layer is a PostgreSQL container managed by Docker Compose.
    - **Redis Cache**: A Redis container is used for caching section headings and script data, optimizing performance for frequent queries.
    - **RedisAI Middleware**: RedisAI provides recommendations and validation for section headings, improving analysis and decision-making.

  version: "1.1.0"
servers:
  - url: 'https://sectionheading.fountain.coach'
    description: Main server for the Script Management API, handling section headings (behind Nginx proxy)
  - url: 'http://localhost:8080'
    description: Development server for section headings (Docker environment)

paths:
  /sectionHeadings:
    get:
      summary: Retrieve Section Headings
      operationId: listSectionHeadings
      description: |
        Fetches a list of all Section Headings across scripts, providing an overview of script structures. This endpoint leverages Redis caching to improve query performance.
      responses:
        '200':
          description: Successfully retrieved a JSON array of Section Headings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SectionHeading'
    post:
      summary: Create Section Heading
      operationId: createSectionHeading
      description: |
        Creates a new Section Heading within a script, specifying its sequence, title, and associated script ID. RedisAI middleware provides recommendations and validation during the creation process.
      requestBody:
        required: true
        description: Data required to create a new Section Heading.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionHeading'
      responses:
        '201':
          description: Successfully created a new Section Heading.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionHeading'

components:
  schemas:
    SectionHeading:
      type: object
      description: Represents a structural element within a script, marking the beginning of a new section. Caching via Redis optimizes retrieval performance.
      properties:
        headingId:
          type: integer
          description: Unique identifier for the Section Heading.
        scriptId:
          type: integer
          description: Identifier of the script this Section Heading belongs to.
        title:
          type: string
          description: Title of the Section Heading.
        sequence:
          type: integer
          description: Order sequence of the Section Heading within the script.
      required:
        - scriptId
        - title
        - sequence
