openapi: 3.1.0
info:
  title: Story Factory API
  description: >
    This API integrates data from the Core Script Management API, Character Management API, and Session and Context Management API to assemble and manage the logical flow of stories.
  version: 1.0.0
servers:
  - url: https://storyfactory.fountain.coach
    description: Production server for Story Factory API
  - url: http://localhost:8080
    description: Development server
paths:
  /stories:
    get:
      summary: Retrieve Full Story
      operationId: getFullStory
      description: Fetches a complete story, including sections, characters, actions, spoken words, context, and transitions.
      parameters:
        - name: scriptId
          in: query
          required: true
          schema:
            type: integer
          description: Unique identifier of the script to retrieve the story for.
      responses:
        '200':
          description: Full story retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullStory'
              examples:
                example:
                  value:
                    scriptId: 1
                    title: "Romeo and Juliet"
                    author: "William Shakespeare"
                    description: "A tale of two star-crossed lovers."
                    sections:
                      - headingId: 1
                        scriptId: 1
                        title: "Act 1, Scene 1"
                        sequence: 1
                    story:
                      - sequence: 1
                        character:
                          characterId: 1
                          name: "Juliet"
                          description: "The heroine of Romeo and Juliet."
                        action:
                          actionId: 1
                          description: "Juliet stands on the balcony, looking out into the night."
                        spokenWord:
                          dialogueId: 1
                          text: "O Romeo, Romeo! wherefore art thou Romeo?"
                        context:
                          contextId: 1
                          characterId: 1
                          data:
                            mood: "longing"
                            location: "Capulet's mansion balcony"
                      - sequence: 2
                        character:
                          characterId: 2
                          name: "Romeo"
                          description: "The hero of Romeo and Juliet."
                        action:
                          actionId: 2
                          description: "Romeo steps out from the shadows below the balcony."
                        spokenWord:
                          dialogueId: 2
                          text: "By a name I know not how to tell thee who I am: My name, dear saint, is hateful to myself, Because it is an enemy to thee."
                        context:
                          contextId: 2
                          characterId: 2
                          data:
                            mood: "desperate"
                            location: "Below Juliet's balcony"
                      - sequence: 3
                        character:
                          characterId: 1
                          name: "Juliet"
                          description: "The heroine of Romeo and Juliet."
                        action:
                          actionId: 3
                          description: "Juliet leans over the balcony, reaching out towards Romeo."
                        spokenWord:
                          dialogueId: 3
                          text: "What’s in a name? That which we call a rose By any other name would smell as sweet."
                        context:
                          contextId: 3
                          characterId: 1
                          data:
                            mood: "curious"
                            location: "Capulet's mansion balcony"
                    orchestration:
                      csoundFilePath: "/files/sound.csd"
                      lilyPondFilePath: "/files/sheet.ly"
                      midiFilePath: "/files/music.mid"
        '404':
          description: Script not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example:
                  value:
                    message: "Script not found."
  /stories/sequences:
    get:
      summary: Retrieve Story Sequences
      operationId: getStorySequences
      description: Retrieves specific sequences from a story, ensuring a logical flow.
      parameters:
        - name: scriptId
          in: query
          required: true
          schema:
            type: integer
          description: Unique identifier of the script to retrieve sequences for.
        - name: startSequence
          in: query
          required: true
          schema:
            type: integer
          description: The starting sequence number.
        - name: endSequence
          in: query
          required: true
          schema:
            type: integer
          description: The ending sequence number.
      responses:
        '200':
          description: Story sequences retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorySequence'
              examples:
                example:
                  value:
                    scriptId: 1
                    sequences:
                      - sequence: 1
                        character:
                          characterId: 1
                          name: "Juliet"
                        action:
                          actionId: 1
                          description: "Juliet stands on the balcony."
                        spokenWord:
                          dialogueId: 1
                          text: "O Romeo, Romeo! wherefore art thou Romeo?"
                      - sequence: 2
                        character:
                          characterId: 2
                          name: "Romeo"
                        action:
                          actionId: 2
                          description: "Romeo steps out from the shadows."
                        spokenWord:
                          dialogueId: 2
                          text: "By a name I know not how to tell thee who I am."
                      - sequence: 3
                        character:
                          characterId: 1
                          name: "Juliet"
                        action:
                          actionId: 3
                          description: "Juliet leans over the balcony."
                        spokenWord:
                          dialogueId: 3
                          text: "What’s in a name? That which we call a rose."
        '404':
          description: Script or sequences not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example:
                  value:
                    message: "Script or sequences not found."
components:
  schemas:
    FullStory:
      type: object
      properties:
        scriptId:
          type: integer
          description: Unique identifier of the script.
        title:
          type: string
          description: Title of the script.
        author:
          type: string
          description: Author of the script.
        description:
          type: string
          description: Brief description or summary of the script.
        sections:
          type: array
          items:
            $ref: '#/components/schemas/SectionHeading'
        story:
          type: array
          items:
            $ref: '#/components/schemas/StoryElement'
        orchestration:
          type: object
          properties:
            csoundFilePath:
              type: string
              description: Path to the generated Csound file.
            lilyPondFilePath:
              type: string
              description: Path to the generated LilyPond file.
            midiFilePath:
              type: string
              description: Path to the generated MIDI file.
    SectionHeading:
      type: object
      properties:
        headingId:
          type: integer
          description: Unique identifier for the Section Heading.
        scriptId:
          type: integer
          description: Identifier of the script this Section Heading belongs to.
        title:
          type: string
          description: Title of the Section Heading.
        sequence:
          type: integer
          description: Order sequence of the Section Heading within the script.
    StoryElement:
      type: object
      properties:
        sequence:
          type: integer
          description: The sequence number of the story element, ensuring the correct order.
        character:
          $ref: '#/components/schemas/Character'
        action:
          $ref: '#/components/schemas/Action'
        spokenWord:
          $ref: '#/components/schemas/SpokenWord'
        context:
          $ref: '#/components/schemas/Context'
    Character:
      type: object
      properties:
        characterId:
          type: integer
          description: Unique identifier for the character.
        name:
          type: string
          description: Name of the character.
        description:
          type: string
          description: A brief description of the character and their role within the screenplay.
    Action:
      type: object
      properties:
        actionId:
          type: integer
          description: Unique identifier for the action.
        description:
          type: string
          description: A textual description outlining what happens in this action.
    SpokenWord:
      type: object
      properties:
        dialogueId:
          type: integer
          description: Unique identifier for the SpokenWord entity.
        text:
          type: string
          description: The dialogue text of the SpokenWord entity.
        sequence:
          type: integer
          description: Order sequence of the SpokenWord within the script.
    Context:
      type: object
      properties:
        contextId:
          type: integer
          description: Unique identifier for the context.
        characterId:
          type: integer
          description: Identifier of the character this context belongs to.
        data:
          type: object
          description: Context data for the character.
          additionalProperties:
            type: string
    StorySequence:
      type: object
      properties:
        scriptId:
          type: integer
          description: Unique identifier of the script.
        sequences:
          type: array
          items:
            $ref: '#/components/schemas/StoryElement'
    Error:
      type: object
      properties:
        message:
          type: string
          description: Description of the error encountered.
