openapi: 3.0.1
info:
  title: Script Elements API
  description: |
    API for managing script elements including Transition instances, facilitating complex script structures and their paraphrases.

    **Dockerized Environment**:
    - **Nginx**: An Nginx proxy container handles SSL termination with Let's Encrypt certificates via Certbot.
    - **Vapor Application**: A Swift-based Vapor app runs in a separate Docker container.
    - **Postgres Database**: The primary persistence layer is a PostgreSQL container managed by Docker Compose.
    - **Redis Cache**: A Redis container caches transition data, optimizing query performance.
    - **RedisAI Middleware**: RedisAI provides validation, analysis, and recommendations for script transitions and their paraphrases.

  version: "1.1.0"
servers:
  - url: 'https://transition.fountain.coach'
    description: Main server for the Script Elements API, handling transitions within scripts (behind Nginx proxy)
  - url: 'http://localhost:8080'
    description: Development server for script transitions (Docker environment)

paths:
  /transitions:
    get:
      summary: Get a list of Transitions
      operationId: listTransitions
      description: |
        Retrieves a list of all transitions in the system, providing an overview of transition structures. This endpoint leverages Redis caching to improve query performance.
      responses:
        '200':
          description: A list of Transitions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transition'
    post:
      summary: Create a new Transition
      operationId: createTransition
      description: |
        Creates a new transition with provided description and sequence within the script. RedisAI middleware provides validation and recommendations during creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transition'
      responses:
        '201':
          description: Created Transition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'

  /transitions/{transitionId}/paraphrases:
    get:
      summary: Retrieve All Paraphrases for a Transition
      operationId: listTransitionParaphrases
      description: |
        Retrieves all paraphrases linked to a specific Transition. Redis caching helps optimize retrieval performance.
      parameters:
        - name: transitionId
          in: path
          required: true
          schema:
            type: integer
          description: Unique identifier of the Transition whose paraphrases are to be retrieved.
      responses:
        '200':
          description: A JSON array of paraphrases for the specified Transition.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Paraphrase'
    post:
      summary: Create a New Paraphrase for a Transition
      operationId: createTransitionParaphrase
      description: |
        Allows for the creation of a new paraphrase linked to a Transition. Clients must provide the paraphrased text and commentary explaining the link to the original Transition. RedisAI provides validation and recommendations for paraphrase creation.
      parameters:
        - name: transitionId
          in: path
          required: true
          schema:
            type: integer
          description: The unique identifier of the Transition to which the paraphrase will be linked.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Paraphrase'
      responses:
        '201':
          description: The paraphrase has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paraphrase'

components:
  schemas:
    Transition:
      type: object
      properties:
        transitionId:
          type: integer
          description: The unique identifier for a Transition.
        description:
          type: string
          description: A description of the Transition.
        sequence:
          type: integer
          description: The sequence order of the Transition.
      required:
        - description
        - sequence

    Paraphrase:
      type: object
      description: |
        Represents a paraphrased version of a script element, including textual paraphrase and commentary on the connection to the original. RedisAI helps improve paraphrase analysis and validation.
      required:
        - originalId
        - text
        - commentary
      properties:
        paraphraseId:
          type: integer
          format: int64
          description: The unique identifier for the Paraphrase, automatically generated upon creation.
        originalId:
          type: integer
          description: The ID of the original Transition to which this paraphrase is linked.
        text:
          type: string
          description: The paraphrased text of the original Transition description.
        commentary:
          type: string
          description: An explanatory note on why the paraphrase is linked to the original Transition.
