# .yamllint configuration file

extends: default

rules:
  line-length:
    max: 120  # Increase the maximum line length to 120 characters
    level: warning  # Change to 'warning' instead of 'error'
  document-start:
    present: false  # Do not require the start of the document with "---"
  truthy:
    allowed-values: ["true", "false", "yes", "no", "on", "off"]
  indentation:
    spaces: 2  # Ensure proper indentation with 2 spaces
  empty-lines:
    max: 1  # Allow up to 1 consecutive blank line
  new-line-at-end-of-file:
    present: false  # Do not require new line at the end of the file
  key-duplicates:
    level: error  # Keep duplicates as errors
  trailing-spaces:
    level: warning  # Change to 'warning' instead of 'error'
  comments:
    level: warning  # Change to 'warning' instead of 'error'
  brackets:
    level: warning  # Change to 'warning' instead of 'error'
  colons:
    max-spaces-before: 1  # Adjust the spaces allowed before colons
    max-spaces-after: 1  # Adjust the spaces allowed after colons
