openapi: 3.1.0
info:
  title: FountainAI Session and Context Management API
  description: >
    This API manages sessions and context, allowing for the creation, updating, and retrieval of session-specific data.
  version: 2.0.0
servers:
  - url: https://sessioncontext.fountain.coach
    description: Production server for Session and Context Management API
  - url: http://localhost:8080
    description: Development server
paths:
  /sessions:
    post:
      summary: Create Session
      operationId: createSession
      description: Creates a new session.
      requestBody:
        required: true
        description: Details of the session to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionRequest'
            examples:
              example:
                value:
                  userId: 123
                  context: "Initial context"
      responses:
        '201':
          description: Session created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
              examples:
                example:
                  value:
                    sessionId: 1
                    userId: 123
                    context: "Initial context"
    get:
      summary: List Sessions
      operationId: listSessions
      description: Retrieves all sessions.
      responses:
        '200':
          description: List of sessions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
  /sessions/{sessionId}:
    put:
      summary: Update Session
      operationId: updateSession
      description: Updates an existing session.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: integer
          description: Unique identifier of the session to update.
      requestBody:
        required: true
        description: Details of the session to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionUpdateRequest'
            examples:
              example:
                value:
                  context: "Updated context"
      responses:
        '200':
          description: Session updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
              examples:
                example:
                  value:
                    sessionId: 1
                    userId: 123
                    context: "Updated context"
  /sessions/{sessionId}/context:
    get:
      summary: Get Session Context
      operationId: getSessionContext
      description: Retrieves the context of a specific session.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: integer
          description: Unique identifier of the session to retrieve the context for.
      responses:
        '200':
          description: Context of the session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionContextResponse'
              examples:
                example:
                  value:
                    sessionId: 1
                    context: "Current context"
components:
  schemas:
    SessionRequest:
      type: object
      properties:
        userId:
          type: integer
          description: Unique identifier of the user.
        context:
          type: string
          description: Initial context of the session.
      required:
        - userId
    SessionResponse:
      type: object
      properties:
        sessionId:
          type: integer
          description: Unique identifier of the session.
        userId:
          type: integer
          description: Unique identifier of the user.
        context:
          type: string
          description: Context of the session.
    Session:
      type: object
      properties:
        sessionId:
          type: integer
          description: Unique identifier of the session.
        userId:
          type: integer
          description: Unique identifier of the user.
        context:
          type: string
          description: Context of the session.
    SessionUpdateRequest:
      type: object
      properties:
        context:
          type: string
          description: Updated context of the session.
    SessionContextResponse:
      type: object
      properties:
        sessionId:
          type: integer
          description: Unique identifier of the session.
        context:
          type: string
          description: Context of the session.
