openapi: 3.1.0
info:
  title: GitHub API Proxy - Repository Branch Management
  description: Proxy API for managing GitHub repository branches via Git Data API.
  version: 1.0.0
  contact:
    name: Support
    email: support@pm.fountain.coach
servers:
  - url: https://branches.pm.fountain.coach
    description: Proxy server for GitHub repository branches.

paths:
  /repos/{owner}/{repo}/branches:
    get:
      operationId: listBranches
      summary: List Branches
      description: Retrieves a list of branches in the specified repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of branches retrieved successfully.
        '401':
          description: Unauthorized.

  /repos/{owner}/{repo}/branches/{branch}:
    get:
      operationId: getBranch
      summary: Get Branch Details
      description: Retrieves details of a specific branch.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Branch details retrieved successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Branch not found.

  /repos/{owner}/{repo}/git/refs:
    post:
      operationId: createBranch
      summary: Create Branch (via refs)
      description: Creates a new branch in the specified repository using refs.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref:
                  type: string
                sha:
                  type: string
      responses:
        '201':
          description: Branch created successfully.
        '401':
          description: Unauthorized.
        '422':
          description: Validation failed.

  /repos/{owner}/{repo}/git/refs/{ref}:
    delete:
      operationId: deleteBranch
      summary: Delete Branch (via refs)
      description: Deletes a specific branch reference.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Branch deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Branch not found.

components:
  schemas: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
