openapi: 3.1.0
info:
  title: GitHub API Proxy - Repository Commits Management
  description: Proxy API for managing GitHub repository commits via the Git Data API.
  version: 1.0.0
  contact:
    name: Support
    email: support@pm.fountain.coach
servers:
  - url: https://commits.pm.fountain.coach
    description: Proxy server for GitHub repository commits.

paths:
  /repos/{owner}/{repo}/commits:
    get:
      operationId: listCommits
      summary: List Commits
      description: Retrieves a list of commits for the specified repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: sha
          in: query
          required: false
          schema:
            type: string
        - name: path
          in: query
          required: false
          schema:
            type: string
        - name: author
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of commits retrieved successfully.
        '401':
          description: Unauthorized.

  /repos/{owner}/{repo}/commits/{sha}:
    get:
      operationId: getCommit
      summary: Get Commit Details
      description: Retrieves details of a specific commit.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: sha
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Commit details retrieved successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Commit not found.

  /repos/{owner}/{repo}/compare/{base}...{head}:
    get:
      operationId: compareCommits
      summary: Compare Commits
      description: Compares two commits in the repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: base
          in: path
          required: true
          schema:
            type: string
        - name: head
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Comparison retrieved successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Commit not found.

components:
  schemas: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
