openapi: 3.1.0
info:
  title: GitHub Milestones API Proxy
  description: Proxy to GitHub REST API endpoints for full CRUD operations on milestones.
  version: 1.0.0
  contact:
    name: Support
    email: support@pm.fountain.coach
servers:
  - url: https://milestones.pm.fountain.coach
    description: Proxy server for GitHub Milestones API.

paths:
  /repos/{owner}/{repo}/milestones:
    post:
      operationId: createMilestone
      summary: Create a Milestone
      description: Creates a new milestone in the specified repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                state:
                  type: string
                  enum: [open, closed]
                description:
                  type: string
                due_on:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Milestone created successfully.
        '401':
          description: Unauthorized.
        '422':
          description: Validation failed.

    get:
      operationId: listMilestones
      summary: List Milestones
      description: Retrieves a list of milestones from the specified repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of milestones retrieved successfully.
        '401':
          description: Unauthorized.

  /repos/{owner}/{repo}/milestones/{milestone_number}:
    get:
      operationId: getMilestone
      summary: Get a Milestone
      description: Retrieves details of a specific milestone.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: milestone_number
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Milestone retrieved successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Milestone not found.

    patch:
      operationId: updateMilestone
      summary: Update a Milestone
      description: Updates an existing milestone.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: milestone_number
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                state:
                  type: string
                  enum: [open, closed]
                description:
                  type: string
                due_on:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Milestone updated successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Milestone not found.

    delete:
      operationId: deleteMilestone
      summary: Delete a Milestone
      description: Deletes a specific milestone.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: milestone_number
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Milestone deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Milestone not found.

components:
  schemas: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
