openapi: 3.1.0
info:
  title: GitHub API Proxy - Repository Content Management
  description: Proxy API for full CRUD operations on GitHub repository content.
  version: 1.0.0
  contact:
    name: Support
    email: support@pm.fountain.coach
servers:
  - url: https://files.pm.fountain.coach
    description: Proxy server for GitHub repository files.

paths:
  /repos/{owner}/{repo}/contents/{path}:
    get:
      operationId: getFileContent
      summary: Get File or Directory Content
      description: Retrieves the content of a file or directory within the repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Content retrieved successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Content not found.

    put:
      operationId: createOrUpdateFile
      summary: Create or Update File
      description: Creates or updates a file within the repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                content:
                  type: string
                branch:
                  type: string
                sha:
                  type: string
      responses:
        '201':
          description: File created successfully.
        '200':
          description: File updated successfully.
        '401':
          description: Unauthorized.
        '422':
          description: Validation failed.

    delete:
      operationId: deleteFile
      summary: Delete File
      description: Deletes a specific file from the repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
        - name: message
          in: query
          required: true
          schema:
            type: string
        - name: sha
          in: query
          required: true
          schema:
            type: string
        - name: branch
          in: query
          required: false
          schema:
            type: string
      responses:
        '204':
          description: File deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: File not found.

components:
  schemas: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
